@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0px;
    padding: 0px;
    resize: none;
    font-family: 'Poppins';
    /* -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

/* -- Nav Bar -- */
.Home{
    background: linear-gradient(19deg,#343f45, #343f45);
    transform-origin: 0px 0px;
    transform: skewY(-10deg);
    overflow: hidden;
    height: 100vh;

}

body {
    background-size: cover;
    background-color: #caf0f8;
}
/* -- Nav Bar -- */

nav {
    position: sticky;
    height: 60px;
    width: 100%;
    background-color: rgb(35, 35, 140);
    top: 0px;
    z-index: 999;
}
nav ul {
    list-style: none;
    display: flex;
    margin-left: 1200px;
}

nav ul li {
    margin-top: 15px;
    margin-left: 150px;
    font-size: 20px;
    color: white;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px 5px;
    border-radius: 10px;
}

.name {
    margin-top: -35px;
    margin-left: 50px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.name:hover {
    cursor: default;
}


/*Login Form*/

.forum{
    background-color: rgb(244, 244, 244);
    height: 400px;
    width: 500px;
    border: 3px solid black;
    margin-left: 500px;
    margin-top: 100px;  
    box-shadow: 15px 15px 20px -5px black;
}

.headtouch{
    text-decoration: underline;
    margin-top: 20px;   
    margin-left: 200px;
}

input{
    text-align: center;
}
.fnameuser{
    height: 25px;
    width: 150px;
    margin-top: 20px;
    margin-left: 70px;
}

.lnameuser{
    height: 25px;
    width: 150px;
    margin-top: 20px;
    margin-left: 10px;
}

.emailuser{
    height: 25px;
    margin-top: 20px;
    margin-left: 70px;
    width: 319px;
}

.pass{
    height: 25px;
    margin-top: 20px;
    margin-left: 70px;
    width: 319px;
}

#passable{
    position: absolute;
    margin-top: 22px;
    margin-left: -30px;
}

#passable:hover{
    cursor:pointer;
}

.submitc{
    margin-top: 25px;
    margin-left: 70px;
    padding: 5px;
    width: 325px;
    border-radius: 12px;
}

.submitc:hover{
    background-color:aquamarine;
    transition: ease-in;
    cursor: pointer;
}

.warning{
    display:none;
    color: black;   
    font-size: 14px;
    margin-top: -65px;
    margin-left: 140px;
}

.Ewarning{
    display:none;
    color: black;   
    font-size: 14px;
    margin-top: -55px;
    margin-left: 160px;
}

.Lwarning{
    display:none;
    color: black;   
    font-size: 14px;
    margin-top: -65px;
    margin-left: 140px;
}

.loginredirect{
    margin-top: 30px;
    margin-left: 120px;
}


.popbg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.popupdiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    height: 254px;
    width: 347px;
    border: 5px solid black;
    margin-left: 572px;
    margin-top: 170px;
    background-color: #343f45;
    color: white;
}

.popupdiv span:nth-child(2) {
    font-size: 100px;
    color: red;
    border: 2px solid red;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 118px;
}

#closebtn {
    margin-left: 323px;
}

#closebtn:hover {
    color: red;
    cursor: pointer;
}

.ptdtad {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

.email{
    height:25px;
    margin-left: 40px;
    border: 2px solid black;
}

.resetpass{
    margin-top: 10px;
}

.resetpass a{
    margin-left: 170px;
    text-decoration: underline;
}

.resetpass a:hover{
    cursor:pointer;
    font-size: 14px;
}

.subforgot{
    background-color: greenyellow;
    width: 150px;
    margin-left: 100px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 3px;
    text-align: center;
    font-size: 15px;
}

.subforgot:hover{
    padding: 4px;
    cursor: pointer;
}