@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
    margin: 0px;
    padding: 0px;
    resize: none;
    font-family: 'Poppins';
    /* -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

/* -- Nav Bar -- */

nav {
    position: sticky;
    height: 50px;
    width: 100%;
    background-color: black;
    top: 0px;
    z-index: 999;
}

nav ul {

    list-style: none;
    display: flex;
    margin-left: 1200px;
}

nav ul li {
 
    margin-top: -5px;
    margin-left: 40px;
    font-size: 20px;
    color: white;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px 5px;
    border-radius: 10px;
}

.name {
    margin-top: -45px;
    margin-left: 50px;
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.name:hover {
    cursor: default;
}


.active {
    color: black;
    background-color: white;
    margin-top: -15px;
    padding: 5px 5px;
    border-radius: 10px;
}


h1:hover{
    cursor:pointer;
}

.patientdets{
    position: absolute;
    margin-top: 120px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.patientbox {
    position: absolute;
    margin-left: 1200px;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 10px;
}

.headpt a {
    text-decoration: none;
    color: black;
}

.headpt a:hover {
    color: grey;
    cursor: pointer;
}

.headpt {
    text-align: center;
}

.ptnfback {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
}

.patientform {
    background-color: white;
    z-index: 999;
    height: 500px;
    width: 450px;
    border: 2px solid black;
    margin-top: 108px;
    margin-left: 500px;
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.43);
    display: none;
}

#clbtn {
    margin-left: 425px;
}

#clbtn:hover {
    color: red;
    cursor: pointer;
}

.ptformhead {
    text-align: center;
    text-decoration: underline;
}

input {
    text-align: center;
}

.PatientfName {
    width: 200px;
    height: 25px;
    margin-right: 5px;
    margin-left: 12px;
    margin-top: 30px;
}

.PatientlName {
    width: 200px;
    height: 25px;
}

.time {
    width: 200px;
    height: 25px;
    margin-right: 5px;
    margin-left: 12px;
    margin-top: 5px;
}

.age {
    width: 200px;
    height: 25px;
}

.intake {
    margin-top: 30px;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 50px;
}

.intakediv {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 50px;
    height: 25px;
    width: 150px;
}

.intakediv>input {
    margin-top: 15px;
}

.output {
    margin-top: -60px;
    font-size: 20px;
    text-decoration: underline;
    margin-left: 250px;
}

.outputdiv {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 250px;
    width: 150px;
    height: 25px;
}

.outputdiv>input {
    margin-top: 15px;

}


.submitp {
    margin-top: 200px;
    margin-left: 65px;
    padding: 5px;
    width: 325px;
    border-radius: 12px;
}

.submitp:hover {
    background-color: aquamarine;
    transition: ease-in;
    cursor: pointer;
}

.popbg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.popupdiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    height: 254px;
    width: 347px;
    border: 5px solid black;
    margin-left: 572px;
    margin-top: 170px;
    background-color: #343f45;
    color: white;
}

.popupdiv span:nth-child(2) {
    font-size: 100px;
    color: greenyellow;
    border: 2px solid greenyellow;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 118px;
}

#closebtn {
    margin-left: 323px;
}

#closebtn:hover {
    color: red;
    cursor: pointer;
}

.ptdtad {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}

#log{
    position:relative;
    color:white;
    margin-top: 15px;
    margin-left: 50px;
}

#log:hover{
    cursor: pointer;
    font-size: 27px;
}

.drp {

    display: inline-block;
    height: 50px;
    width: 150px;
  }

.drpcon{
    position:absolute;
    display: none;
    font-size: 20px;
    background-color: black;;
    height: 70px;
    width: 200px;
    margin-left: 10px;
    border-radius: 10px;
}

.drpcon a{
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.drpcon a:hover{
    font-size: 22px;
}
